#section1 {padding-top:10px;}
#section2 {padding-top:50px;}
#section3 {padding-top:50px;}
#section4 {padding-top:50px;}
#section5 {padding-top:50px;}
#section6 {padding-top:50px;}

.linea {
    background-color: #072b4f;
    height: 50px;
}

.icono{
    margin-left: 20px;
    margin-top: 4px;
    padding: 1px;
    background-color: white;
    color: #072b4f;
}
.logo {
    display: flex;
    justify-content: center;
}
.logo img{
    padding: 15px;
    height: auto;
}
.menu a{
    color: #6e6e6e;
    font-size: 24px;
    /*background-color: #072b4f;*/
}
.card{
    background-color: #F2F5F9;
}
h3{
    text-align: center;
}
.btn-primary{
    width: 120px;
    background-color: #072b4f;
}
.verTabla{
    float: right;
}
footer{
    background-color: #072b4f;
}

